.navbar{
    background-color:rgba(245,245,245,0.9);
}
.navbar-toggler{
    border:none;
    font-size: 1.25rem;
}
.navbar-img{
    height: auto;
    width: 50%;
    max-width: 720px;
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}
.offcanvas-title{
    font-size: calc(14px + 16 * (100vw / 1280));
}
.nav-link{
    color:#ac1a39;
    font-size: calc(6.5px + 15 * (100vw / 1280));
    font-weight: 500;
    position: relative;
}
.nav-link:hover{
    color:#530113;
}
.navbar-nav .nav-link.active{
    color:#530113;
}
.hero-section{
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    width:auto;
    height: 100vh;
}
.hero-section::before{
    background-color: rgba(0, 0 ,0 , 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
}